.btn {
  margin-right: 8px;
}

.markedAsDone {
  text-decoration: line-through;
  color: #777;
}

.todoForm {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px;
}

.tableActions {
  width: 120px;
}